body {
    background: gray;
}

.ama_elem {
    float: left;
    width: 230px;
    height: 230px;
    margin: 10px;
    border: 2px solid black;
    background: white;
    padding: 5px;
    position: relative;
}

.bar {
    background: black;
    height: 20px;
    color: white;
}

.perc_used {
    background: darkgray;
    height: 20px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    line-height: 20px;
}

.ama_elem img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.price {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: bold;
    background: rgba(255,255,255, 0.8);
    border: 1px solid black;
    padding: 3px;
}

h1 {
    font-family: sans-serif;
    font-size: 1.8em;
    margin: 15px;
    font-weight: bold;
}

.time {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#searchbar {
    margin: 10px;
    font-size: 1.4em;
    font-weight: bolder;
}

.fav {
    background: url('http://imgur.com/I0EwG.png') transparent;
    height: 24px;
    width: 24px;
    border: none;
    opacity: 0.3;
    position: absolute;
    top: 2px;
    left: 2px;
    background-size: 100% 100%;
}

.liked {
    opacity: 1.0;
}

.favButton {
    height: 40px;
    width: 150px;
    border-radius: 2px;
    background: lightgray;
    border: 2px solid black;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 40px;
    text-align: center;
    font-family: sans-serif;
}

.active {
    background: orange;
}